<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
        
    </Properties>
   
    <Appenders>
        <!-- File Appender -->
        <File name="FILE" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="| %d{yyyy-MM-dd HH:mm:ss} | %-5p | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        
         <RollingFile name="LogToRollingFile" fileName="logs/logFileArchive.log"
                    filePattern="logs/$${date:yyyy-MM}/log-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
				<PatternLayout pattern="| %d{yyyy-MM-dd HH:mm:ss} | %-5p | [%t] %C{2} (%F:%L) - %m%n"/>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 KB"/>
			</Policies>
		</RollingFile>
    </Appenders>
    
    <Loggers>
<!--         <Logger name="com" level="DEBUG" />  -->
        <Logger name="com" level="INFO" />
        <Root level="error">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />            
        </Root>
    </Loggers>
    
</Configuration>